<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span style="cursor: pointer;" routerLink="/">
          <img src="" alt="logo" style="width: 32px; height: 32px;">
        </span>

        <span class="flex-auto"></span>

        <div>
            <button mat-icon-button style="margin-right: 20px !important;">
              <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
            </button>

            <button mat-stroked-button color="accent" routerLink="/login">
              Entrar
            </button>

            <!-- <button mat-stroked-button [matMenuTriggerFor]="beforeMenu" color="accent">Perfil</button>

            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item>
                  Atualizar Perfil
                </button>
                <button mat-menu-item>
                  Sair
                </button>
            </mat-menu> -->
        </div>

    </mat-toolbar-row>
</mat-toolbar>
