<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="c-pointer container-flex-center" routerLink="/">
            <!-- <img src="" alt="logo" style="width: 32px; height: 32px;"> -->
            <button mat-icon-button>
                <mat-icon>store</mat-icon>
            </button>
            <span>Home</span>
        </span>

        <span class="flex-auto"></span>

        <div>
            <button mat-icon-button class="mr-20" routerLink="/cart">
                <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
            </button>

            <button *ngIf="!logged else loggedTemplate" mat-stroked-button color="accent" routerLink="/login">
                Entrar
            </button>

            <ng-template #loggedTemplate>
                <button mat-stroked-button [matMenuTriggerFor]="beforeMenu" color="accent">Olá {{ logged.name }}</button>

                <mat-menu #beforeMenu="matMenu" xPosition="before">
                    <!-- <button mat-menu-item>
                    Atualizar Perfil
                </button> -->
                    <button mat-menu-item (click)="logout()">
                        Sair
                    </button>
                </mat-menu>
            </ng-template>

        </div>

    </mat-toolbar-row>
</mat-toolbar>
