<div class="bg-container bg-home-products">
    <div class="shadow-layer"></div>

    <div class="w-80 h-100 z10">
        <h1 class="color-white m-20">Produtos</h1>

        <mat-divider></mat-divider>

        <div class="container-flex">

            <mat-accordion class="full-width">

                <mat-expansion-panel *ngFor="let category of categoryList;">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ category.name }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="container-flex">
                        <div *ngFor="let product of category.products" class="product" (click)="viewProduct(product)">
                            <mat-card class="c-pointer">
                                <img mat-card-image [src]="product.photo" alt="product">

                                <mat-card-content>
                                    <h2>
                                        {{ product.name }}
                                    </h2>
                                    <small>
                                        {{ product.price | currency }}
                                    </small>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>

                </mat-expansion-panel>

            </mat-accordion>

        </div>

    </div>
</div>
