.bg-home-products {
    background-image: url('./../../assets/bg-home-products.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}

.product {
    margin: 5px;
    width: 24%;
}
