<div class="bg-container bg-home-products">
    <div class="shadow-layer"></div>

    <div class="w-80 h-100 z10">
        <h1 class="color-white m-20">Produtos</h1>

        <mat-divider></mat-divider>

        <div class="container-flex">

            <div class="product" (click)="viewProduct()">
                <mat-card class="c-pointer">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="product">

                    <mat-card-content>
                        <h2>
                            Nome do Produto
                        </h2>
                        <small>
                            Preço R$ 25,99.
                        </small>
                    </mat-card-content>
                </mat-card>
            </div>

        </div>
        
    </div>
</div>
