<div class="bg-container bg-cart">
    <div class="shadow-layer"></div>

    <div class="w-80 h-100 z10">
        <h1 class="color-white m-20">Carrinho</h1>

        <mat-divider></mat-divider>

        <mat-list>

            <mat-list-item>
                <div class="product-line" matLine>
                    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="product">
                    <div class="span-hidden">
                        <span>Nome do Produto</span>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis modi, cumque rerum nulla deserunt molestias expedita error voluptatem odio eos temporibus eveniet dolores consequuntur.</span>
                    </div>
                    <span>Quantidade</span>
                    <span>R$ 19,99</span>
                    <button mat-mini-fab color="warn">
                      <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-list-item>

        </mat-list>



    </div>
</div>
