<div class="bg-container bg-cart">
    <div class="shadow-layer"></div>

    <div class="w-80 h-100 z10">
        <h1 class="color-white m-20">Carrinho</h1>

        <mat-divider></mat-divider>

        <form>

            <mat-list>

                <mat-list-item *ngFor="let product of productsList; let i = index;">
                    <div class="product-line" matLine>
                        <!-- Photo -->
                        <img [src]="product.photo" alt="product">
                        <!-- / Photo -->

                        <!-- Description -->
                        <div class="span-hidden">
                            <span> {{ product.name }} </span>
                            <span> {{ product.description }} </span>
                        </div>
                        <!-- / Description -->

                        <!-- Quantity -->
                        <span>
                            <mat-form-field class="full-width m-5">
                                <mat-label>Quantidade</mat-label>
                                <input matInput type="number" value="1" min="1" max="10" #qt (change)="checkValue(i, qt.value)">
                            </mat-form-field>
                        </span>
                        <!-- / Quantity -->

                        <!-- Price -->
                        <span>
                            {{ prices[i] | currency }}
                        </span>
                        <!-- / Price -->

                        <!-- Delete Product -->
                        <button mat-mini-fab color="warn" type="button" (click)="removeItem(product)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <!-- / Delete Product -->
                    </div>
                </mat-list-item>

                <mat-list-item>
                    <div class="product-line" matLine>
                        <span style="flex: 1 1 auto;"></span>

                        <span>
                            {{ getFinalPrice | currency }}
                        </span>
                    </div>
                </mat-list-item>

                <mat-list-item>
                    <div class="product-line" matLine>
                        <span style="flex: 1 1 auto;"></span>

                        <button mat-stroked-button color="accent" type="button" (click)="finish()">
                            Finalizar Compra
                        </button>
                    </div>
                </mat-list-item>

            </mat-list>

        </form>

    </div>
</div>
