<div class="bg-container bg-login">
    <div class="shadow-layer"></div>

    <mat-card class="form-login">

        <form [formGroup]="formLogin">
            <mat-card-header>
                <h1>
                    Login do Cliente
                </h1>
            </mat-card-header>

            <mat-card-content>
                <mat-list role="list">

                    <mat-list-item role="listitem">
                        <mat-form-field class="full-width">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Ex: exemplo@email.com" formControlName="email">
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>
                    </mat-list-item>

                    <mat-list-item role="listitem" class="mt-20">
                        <mat-form-field class="full-width">
                            <mat-label>Senha</mat-label>
                            <input type="password" matInput formControlName="password">
                            <mat-icon matSuffix>vpn_key</mat-icon>
                        </mat-form-field>
                    </mat-list-item>

                    <mat-list-item>
                        <a mat-button routerLink="/register">Não tem cadastro ? Clique aqui !</a>
                    </mat-list-item>

                    <mat-list-item role="listitem">
                        <button type="button" [disabled]="formLogin.invalid" mat-raised-button class="full-width" color="accent" (click)="login()">Entrar</button>
                    </mat-list-item>

                </mat-list>
            </mat-card-content>

        </form>
    </mat-card>

</div>
