.bg-login {
    background-image: url('./../../assets/bg-login.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    .form-login {
        width: 30%;
        min-width: 300px;
        height: 300px;
        box-shadow: 5px 5px 15px #111111;
    }
}
