.bg-login {
    background-image: url('./../../assets/bg-login.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    .shadow-layer {
        position: fixed;
        top: 64px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000000;
        opacity: 0.6;
    }
    .form-login {
        width: 30%;
        min-width: 300px;
        height: 300px;
        box-shadow: 5px 5px 15px #111111;
    }
}
