/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;500;700&display=swap');
* {
    font-family: 'Hind', sans-serif;
    user-select: none;
}

.font-hind {
    font-family: 'Hind' !important;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    margin: 0;
}

.shadow-layer {
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.6;
    pointer-events: none;
}

.bg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: fixed;
    overflow: auto;
    height: calc(100% - 64px);
}

.bg-full-height {
    display: flex;
    height: calc(100% - 64px);
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.color-white {
    color: #ffffff;
}

.dp-flex-column {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.c-pointer {
    cursor: pointer;
}

.full-width {
    width: 100% !important;
}

.z10 {
    z-index: 10 !important;
}

.w-33 {
    width: 33.33% !important;
}

.w-50 {
    width: 50% !important;
}

.w-80 {
    width: 80% !important;
}

.h-100 {
    height: 100% !important;
}

.m-5 {
    margin: 5px !important;
}

.m-20 {
    margin: 20px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
