/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;500;700&display=swap');
* {
    font-family: 'Hind' !important, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    margin: 0;
}

.bg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 64px);
}

.full-width {
    width: 100%;
}

.mt-20 {
    margin-top: 20px;
}
